.header {
    position: relative;
}

#canvas {
    height: 100%;
    width: 100%;
}

#intro-box {
    background-color: #232323;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro-text {
    position: absolute;
    text-align: center;
    font-size: 3em;
    line-height: 1.4;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    color: #f7f7f7;
    font-weight: 300;
}

.down-arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    opacity: 0.5;
    cursor: pointer;
}

.down-arrow img {
    width: 100%;
}

@media screen and (min-width: 980px) {
    #intro-text {
        font-size: 3.6em;
    }
}

.display-slab {
    background-color: #ffffff;
    padding: 4em 0;
}

.wb {
    background-color: #ffffff;
}

.gb {
    background-color: #f8f8f8;
}

.display-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.display-img img {
    width: 100%;
}

.display-video {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
}

.display-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.box-part {
    margin-bottom: 2em;
}

.display-text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.display-text-box {
    width: 100%;
}

.display-text-header {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.display-text-desc {
    font-size: 20px;
    font-weight: 300;
    color: #888;
}

.display-action-button {
    padding: 10px 30px;
    background-color: #1e88e5;
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.display-action-button::after {
    background-image: url(../images/right_arrow.png);
    display: inline-block;
    height: 15px;
    width: 17px;
    background-size: 17px 17px;
    content: "";
    margin-left: 10px;
}

.display-action-button:hover {
    background-color: #005cb2;
}

@media screen and (min-width: 980px) {
    .display-slab {
        padding: 6em 0;
    }

    .box-part {
        margin-bottom: 0;
    }

    .display-text.text-left {
        text-align: left;
    }

    .display-text.text-right {
        text-align: right;
    }
}

.footer {
    margin-top: 2em;
    padding: 10px 20px;
    background-color: #fff;
    text-align: center;
    line-height: 2;
}

.connect-list {
    margin-top: 20px;
}

.connect-list i {
    font-size: 30px;
}

.connect-list a {
    color: #555;
    margin: 0 20px;
}